:root {
  --required: #ff6500;
}

.requiredInputHeader:after {
  content: ' *';
  color: var(--required);
}

.requiredInput{
  border-color: var(--required) !important;
  border-width: revert !important;
}