:root {
  --required: #ff6500;
}

.requiredInputHeader:after {
  content: ' *';
  color: var(--required);
}

.requiredInput{
  border-color: var(--required) !important;
  border-width: revert !important;
}

.modal-description {
  padding-bottom: 40px;
}

.text-input {
  width: 100%;
}

.button-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: 1rem;
  gap: 0.5rem;
}

.ok-button {
  margin-right: 0;
}